---
layout: default
---

<header class="main-header no-cover">
  <div class="vertical">
      <div class="main-header-content inner">
        <h1 class="page-title">{{ site.name }}</h1>
        <h2 class="page-description">{{ site.description}}</h2>
      </div>
  </div>
  
    <nav class="main-nav overlay clearfix">
      <a class="subscribe-button" href="{{ site.baseurl }}about.html">About</a>
      <a class="subscribe-button" href="{{ site.baseurl }}archives.html">Archives</a>
      <a class="subscribe-button" href="{{ site.baseurl }}tags.html">Tags</a>
      <a class="subscribe-button" href="{{ site.baseurl }}">Home</a>
    </nav>

</header>


<main class="content" role="main">
            {{content}}
</main>
